body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.chatbox__messages {
    padding: 0 20px;
}
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}
.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 70%;
}

.user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.bot-message {
    display: flex;
    width:max-content;
    background-color:#581B98;
    color: #fff;
    
}

.chat-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border:black;
    border-radius: 5px;
}

.chat-form button {
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
